/*
Theme Name: My Theme
Author: Greig McMahon
Author URI: http://www.greigmcmahon.com
Description: Responsive HTML5 theme
Version: 1.0
*/

* {
  box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    font-family: Helvetica;
    height: 100%;
}

.main {
  padding-top: 75px;
}

/* Navbar */
.bg-light {
    background-color: #000!important;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.container-fluid {
            padding-right:0;
            padding-left:0;
            margin-right:auto;
            margin-left:auto
} 

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 50%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.footer-copyright {
  background-color: #343a40!important;
  color: #fff;
}

.navbar-nav .nav-link {
    color: #fff;
}

/*
Forces carousel image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
  background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
}